* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: right;
}

html {
  height: 100%;
  width: 100%;
  direction: rtl;
}

body {
  height: 100%;
  background: radial-gradient(#116466, rgba(17, 100, 102, 0.6)) no-repeat;
  font-family: "B Homa", "B Yekan";
  color: #D1E8E2;
}

.abs-middle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  height: 100%;
}

header {
  text-align: left;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(255, 203, 154, 0.8);
}

footer {
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(255, 203, 154, 0.8);
}

.customers, .orders {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 203, 154, 0.6);
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.customers div.edit-customer, .orders div.edit-customer {
  background-color: rgba(44, 53, 49, 0.6);
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: height 0.5s ease-in-out;
  z-index: 5;
}
.customers div.edit-customer::before, .orders div.edit-customer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 203, 154, 0.6);
}
.customers div.edit-customer-show, .orders div.edit-customer-show {
  height: 100%;
}
.customers .add-btn, .orders .add-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 203, 154, 0.6);
  border-radius: 50%;
  z-index: 6;
  transition: background 0.5s ease-in-out;
}
.customers .add-btn:hover, .orders .add-btn:hover {
  cursor: pointer;
}
.customers .add-btn:before, .orders .add-btn:before {
  content: "";
  position: absolute;
  background-color: #D1E8E2;
  left: 50%;
  transform: translate(-50%, 70%);
  width: 2px;
  height: 12px;
  background-color: #fff;
  transition: transform 0.5s ease-in-out;
}
.customers .add-btn:after, .orders .add-btn:after {
  content: "";
  position: absolute;
  background-color: #D1E8E2;
  left: 50%;
  transform: translate(-50%, 70%) rotate(90deg);
  width: 2px;
  height: 12px;
  background-color: #fff;
  transition: transform 0.5s ease-in-out;
}
.customers .add-btn-close, .orders .add-btn-close {
  background: rgba(44, 53, 49, 0.3);
}
.customers .add-btn-close:before, .orders .add-btn-close:before {
  transform: translate(-50%, 70%) rotate(45deg);
}
.customers .add-btn-close:after, .orders .add-btn-close:after {
  transform: translate(-50%, 70%) rotate(135deg);
}
.customers .list-group, .orders .list-group {
  height: 100%;
  overflow: hidden;
  padding: 10px;
}
.customers .list-group .list-group-item, .orders .list-group .list-group-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border: none;
  padding: 12px 15px;
  font-size: 95%;
  transition: all 0.5s ease-in-out;
}
.customers .list-group .list-group-item:not(:last-child), .orders .list-group .list-group-item:not(:last-child) {
  border-bottom: 1px solid #D1E8E2;
}
.customers .list-group .list-group-item:hover, .orders .list-group .list-group-item:hover {
  cursor: pointer;
  color: rgba(44, 53, 49, 0.5);
  text-shadow: 1px 1px 5px rgba(209, 232, 226, 0.2);
}
.customers .list-group .list-group-item-active, .orders .list-group .list-group-item-active {
  color: rgba(44, 53, 49, 0.5);
  text-shadow: 1px 1px 5px rgba(209, 232, 226, 0.2);
  background-color: rgba(255, 203, 154, 0.5);
}
.customers .list-group .list-group-item p, .orders .list-group .list-group-item p {
  margin: 0;
}
.customers .list-group .list-group-item div, .orders .list-group .list-group-item div {
  display: block;
  height: 2px;
  width: 15px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  opacity: 0;
}
.customers .list-group .list-group-item div.show, .orders .list-group .list-group-item div.show {
  opacity: 1;
}
.customers .list-group .list-group-item div:hover, .orders .list-group .list-group-item div:hover {
  transform: scale(1.1);
}
.customers .list-group .list-group-item div::before, .customers .list-group .list-group-item div::after, .orders .list-group .list-group-item div::before, .orders .list-group .list-group-item div::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.customers .list-group .list-group-item div::before, .orders .list-group .list-group-item div::before {
  top: -300%;
}
.customers .list-group .list-group-item div::after, .orders .list-group .list-group-item div::after {
  top: 300%;
}

.username {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  text-align: left;
  padding: 3px;
  border-radius: 5px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  font-stretch: wider;
  margin-right: 570px;
}

/*# sourceMappingURL=home.css.map */
